.total {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px;
    flex-direction: column;
}


.main {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid black;
}

.content {
    aspect-ratio: 1 / 1;
}

.content.active {
    background: rgb(141, 66, 66);
}

.setBtn {
    margin-bottom: 16px;
}

